.container {
  background-color:#111111;
  width:100vw;
  min-height:100vh;
  color:rgba(255,255,255,0.8);
  font-family: 'Roboto', sans-serif;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.header {
  margin-top:5%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  flex: 100%;
  text-align:center;
  font-weight:bold;
  font-size:36px;
}

.whiteline {
  width:50%;
  border-bottom: 1px solid rgba(150, 150, 150, 0.6);
  float:center;
}

.mainbody {
  margin-top:100px;
}

.inputbox {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.box {
  border: 1px solid rgba(150, 150, 150, 0.6);
  margin:5px;
  padding:10px;
  height:40px;
  width:40px;
  background-color:rgb(255,255,255,0);
  color:white;
  font-size:40px;
  caret-color: transparent;
  font-weight:700;
  display:flex;
  align-items:center;
  justify-content: center;
}

.keyboard{
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin-top:100px;
  width:100%;
  max-width:780px;
  
}

.firstrow {
  display:flex;
  justify-content: center;
}

.secondrow {
  display:flex;
  justify-content: center;
}

.thirdrow {
  display:flex;
  justify-content: center;
}

.key {
  min-width:8%;
  min-height:60px;
  margin:2px;
  background-color: rgba(150, 150, 150, 0.6);
  font-weight:700;
  font-size:1em;
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content: center;
}

#ENTER {
  min-width:12%;
}


.textoverlay {
  position:absolute;
  z-index:1;
  height:100%;
  width:80%;
  padding-left:10%;
  padding-right:10%;
  display:none;
  align-items:center;
  justify-content:center;
  color:rgba(255,255,255,1.0);
  font-size:36px;
  background-color:rgba(0,0,0,0.6);
}