.mobile .body {
    color:rgba(163, 163, 163, 0.9);
    display:flex;
    flex-direction:row;
    padding:0px;
}

.mobile .bodycontainer{
    width:100%;
    display:flex;
    flex-direction:row;
    z-index:1;
    margin-left:0;
    padding-top:0;
}

.mobile .bodytext {
    font-weight:400;
    width:100%;
}

.mobile .bodydescription {
    min-width:0px;
    max-width:1000px;
    width:100%;
    padding:0;
    line-height:25px;
    font-size:16px;
}

.mobile .bodytitle {
    color:rgba(255,255,255,0.9);
    font-size:32px;
    padding:0px;
    margin-left:0%;
    padding-top:100px;
    padding-bottom:20px;
}