.mobile .navbar {
    overflow:hidden;
    position:fixed;
    font-size:32px;
    font-weight:400;
    color:rgba(255,255,255,0.9);
    width:86%;
    min-width:0px;
    max-width:5000px;
    background-color:rgba(16, 6, 29, 0.5);
    backdrop-filter: blur(3px);
    height:60px;
    padding-left:7%;
    padding-right:7%;
    text-align:left;
    z-index:0;
    display:flex;
    justify-content: center;
}