.header {
  color:white;
  display:flex;
  flex-direction: column;

}

.html {
  width:100vw;
  background-color:black;
  color:white;
}

.textbox {
  font-family: 'Lato', sans-serif;  
  font-size: 40px;
  font-weight: 600;
  width:30vw;
  height:calc(65vh - 10px);
}

.textdiv {
  width:30vw;
  display:flex;
  flex-direction:column;
}

.title {
  font-family: 'Roboto Mono', serif;
  font-weight: 700;
  font-size:24px;
  padding-bottom:20px;
}

.text {
  font-family: 'Roboto Mono', serif;
  font-weight:500;
  font-size:18px;
}

.main {
  display:flex;
  flex-direction:row;
  overflow:hidden;
  font-family: 'Roboto Slab', serif;
  width:100%;
  background-color:#10061d;
}