.projectcontainer {
    padding:30px;
    min-width:360px;
    max-width:680px;
    padding-top:0;
    padding-bottom:0;
}

.projecttext {
    width:70%;
    color:#a3a3a3;
    padding-left:15px;
}

.projectheader {
    color:white;
    padding-bottom:10px;
}

.project {
    display:flex;
    flex-direction:row;
    padding:20px;
    border-radius:8px;
}

.image {
    width:100%;
    border-radius:5px;
}

.projectimage {
    padding-right:15px;
    width:30%;
}

.projectline {
    display:flex;
    flex-direction:row;
    padding:30px;
}

.projecttitle {
    color:white;
    padding:10px;
    font-size:32px;
    margin-left:-5%;
}